
											<!--　メイン　-->
 <div class="main-wrapper">
      <%= image_tag("main.jpg", :class=>"main-image")%>
      <%= image_tag("strong.png", :class=>"strong-point")%>
      <p class="trams-45">今行きたいの</br>きっかけ作りを</p>
        <h2 class="main-text">MEOで店舗サービス集客に革命</br>
                絶対やるべきその理由とは？</h2>
      <%= image_tag("mobile1.png", :class=>"main-phone")%>
 </div>

</br>
