/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku  ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(shibuya-map.png);
  background-size: cover;
  color: #444444;
  text-align: center;
  
    h1 {
        opacity: 0.7;
        font-size: 45px;
        letter-spacing: 5px;
        font-weight:bold;
        text-shadow: 2px 3px 3px #fff;
        }
    
    p {
        opacity: 0.7;
        text-shadow: 2px 3px 3px #fff;
        }
}


.btn-wrapper {
  text-align: center;
  margin: 20px 0;

     p {
        margin: 10px 0;
        }
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 212, 39, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height:75px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
  font-size:16px;
  text-shadow: 2px 2px 1px #000;
  
     a {
        line-height: 65px;
        padding: 0 25px;
        color: white;
        display: block;
        float: left;
        transition: all 0.5s;
        }
      
      a:hover {
        background-color: rgba(255, 255, 255, 0.3);
        }
        
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
 display:none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
    
    h2 {
        font-weight: normal;
        }
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  
    p {
        position: absolute;
        top: 44%;
        width: 100%;
        color: white;
        }
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
  
  h3 {
    font-weight: normal;
        }
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer  {
  padding-top: 30px;
  padding-bottom: 20px;
  
    img {
        width: 125px;
            }
            
    p {
        color: #b3aeb5;
        font-size: 12px;
            }
}
}
